*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #ff9c9c;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    overflow: hidden;
}

.app-main{
    width: 350px;
    margin: 150px auto;
    background-color:rgba(227, 231, 233, 0.6);
    padding: 20px;
    text-align: center;
}

.in-box{
    width: 100%;
    background-color:rgb(255,255,255,0.6);
    outline: none;
    color: black;
    font-size: 18px;
    height: 40px;
    border-radius: 5px;
    padding: 0 10px;
    text-align: center;
    border: none;
    margin-bottom: 20px;
    text-decoration: none;
}

::placeholder{
    color: rgb(0, 0, 0,0.6);
    font-weight: 500;
}

.content{
    background-color:rgb(255,255,255,0.6);
    width: 100%;
    height: 320px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}

.location-detail{
    font-size: 20px;
    font-weight: bold;
}

.city{
    padding-top: 25px;
}

.date{
    padding-top: 16px;
}

.temp{
    font-size: 50px;
    font-weight: bolder;
    padding-top: 25px;
    padding-bottom: 25px;
    text-shadow: 2px 4px rgb(0, 0, 0,0.2);
}

.min-max{
    font-size: 20px;
    font-weight: bold;
}

.status{
    font-size: 17px;
    font-weight: bold;
    padding-top: 17px;
}

.fas{
    padding-top: 15px;
    font-size: 30px;
    color: black;
    font-weight: bold;
}
